@import "site/app_mixins";
@import "./bootstrap_variables";
@import "./bootstrap_and_overrides";

body {
  background: $gray-dark;
  color: $gray-light;
}

#register-wrapper, #login-wrapper {
  padding-top:26px;
}

.hadean-login {

  fieldset {
    border: none;
    padding:0px;
  }
  ol, ul {
    padding: 0;
  }
  p {
    color:#999999;
    font-size:13px;
  }
  h3 {
    @include header-font();
    font-size: 18px;
    margin-bottom: 5px;
    color: $brand-warning;
  }
}

ol {list-style-type: none;margin-left:0px;}

label {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
}

input.text, input.title, input[type="text"], input[type="password"], input[type="email"] {
  @include rounded(4px);
  margin: 0.15em 0;
  border: 1px solid #CCCCCC;
  font-size: 13px;
  padding: 6px 5px;
}