@import "site/app_mixins";
@import "./bootstrap_variables";
@import "./bootstrap_and_overrides";

body.no-content {
  background: $gray-dark;
  background-image: url('/assets/images/themap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $gray-light;
}

.section-header {
  @include header-font();
  margin-bottom: 5px;
  color: $brand-warning;
  &.section-title {
    font-size: 1.5em;
  }
  &.section-sub-title {
    font-size: 1.3em;
  }
}

#register-wrapper, #login-wrapper {
  padding-top:26px;
}

.hadean-login {

  fieldset {
    border: none;
    padding:0px;
  }
  ol, ul {
    padding: 0;
  }
  p {
    color:#999999;
    font-size:13px;
  }
}

ol {list-style-type: none;margin-left:0px;}

label {
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  display: block;
}

input.text, input.title, input[type="text"], input[type="password"], input[type="email"] {
  @include rounded(4px);
  margin: 0.15em 0;
  border: 1px solid #CCCCCC;
  font-size: 13px;
  padding: 6px 5px;
}