.upper_left_overlay {
  position:absolute;
  left:0px;
  top:0px;
}

ul#interesting_items-list {
  text-align: left;
  padding-left: 0px;
  margin-left:0px;

  li {
    padding: 12px 12px 12px 0px;
    display:inline-block;
    height:100%;

    .product-caption-wrapper {
      display: block;
      position: absolute;
      bottom: 0px;
      height: 45px;
      width: 100%;
      max-width: 200px;
      background-color: rgba(0, 0, 0, 0.85);
      overflow: hidden;

      .product-caption {
        position: relative;
        top: 0;
        @include single-transition(top, .2s);

        &.hovering {
          top: -45px;
        }
      }

      .keywords {
        height: 45px;
        padding-top: 15px;
        line-height: 14px;
        //padding-top: 20px;
        @include body-font-2();
        color: $brand-warning;

        &.two-line {
          padding-top: 10px
        }
      }
    }

    .product-image {
      display: block;
      width: 138px;
      height: 138px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .interesting_items-details {
      position: relative;
      top: 0;
      padding-top:15px;
      line-height: 12px;
      text-align: center;
      @include header-font();
      color: $gray-lighter;
      height: 45px;

      &.two-line {
        padding-top: 10px;
      }
    }

    .interesting_items-image {
      position: relative;
      text-align:center;
      @include box-shadow(0 3px 5px #111);


      &:hover {
        .hover-details {
          display: block;
        }
      }
      .no-hover-show {
        background: rgba(47, 47, 47, 0.02);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      .hover-details {
        color:#FFF;
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        .bottom-hover-details {
          font-family: Economica, san-serif;
          font-weight: bolder;
          font-size:15px;
          height:3em;
          width:100%;
          padding:10px;
          position: absolute;
          background: rgba(47, 47, 47, 0.4);
          bottom: 0;
          margin-bottom: 0px;
        }
      }
    }

  }
}

div {
  #featured_description {
    font-family: Economica, san-serif;
    line-height: 1.3;
    font-size: 22px;
    color: #5F5D62;
  }
}
#featured_image {
  padding-bottom:7px;
}

@include respond-to(screen-sm) {
    ul#interesting_items-list li {
    .product-image {
      width: 163px;
      height: 163px;
    }
  }
}

@include respond-to(screen-md) {
    ul#interesting_items-list li {
    .product-image {
      width: 198px;
      height: 198px;
    }
  }
}