#cart-items-wrapper {

  ul {list-style-type: none;}

  .cart-item-grid {
    margin: 10px 0;
  }

  .cig-body {
    // padding: 15px 0;
    // border: 1px solid #111;
    // background-color: $gray-darker;
    @include body-font-1();
    font-size: 0.9em;

    .cig-row {
      @extend .row;
      padding: 0 0 10px 0;
    }

    .cig-i {
      margin-top: 10px;
    }

    .cig-item {
      @extend .cig-i;
      @extend .col-sm-5;
      font-size: 1em;
      color: $gray-lighter;
      img {
        border: 1px solid #111;
        margin-right: 5px;
        float: left;
      }
      a {
        color: $gray-lighter;
        &:hover {
          color: $brand-info;
        }
      }
    }

    .cig-quantity {
      @extend .col-xs-4;
      @extend .clearfix;
      @extend .cig-i;
      @extend .col-sm-1;

      font-size:1.2em;
      text-align: center;

      .label {
        float: left;
      }
    }

    .cig-remove {
      @extend .col-xs-4;
      @extend .clearfix;
      @extend .cig-i;
      @extend .col-sm-1;

      font-size: 2em;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  .cig-subtotal {
    @extend .col-sm-2;
    @extend .col-xs-4;
    @extend .clearfix;
    @extend .cig-i;

    text-align: right;
  }


}