@import "validationEngine.jquery";
@import "site/app_mixins";
@import "site/my_account";
@import "site/cart";
@import "site/panel";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "./bootstrap_variables";
@import "./bootstrap_and_overrides";
@import "login";

// RoR eCommerce Customer-Facing Styles

@include sticky-footer(54px, "#body_wrapper", "#prefooter_wrapper", "#footer_wrapper");

h2, h3, h4, h5 {
  @include header-font;
  color: $brand-info;
}

h3 {
  margin-top: 10px;
}

.clearfix {
  @include clearfix();
}

.flash_messages {
  margin-top: 20px;
}

.field_with_errors {
  input {
    border: 1px #C66 solid;
  }
}

ul {
  list-style: none;
  &.vertical-list {
    display: block;
    li {float: none;}
    label {
      display: inline-block;
      width: 150px;
      &.long {
        width: 250px;
      }
    }
    &.compact {
      label {
        width: 70px;
      }
    }
  }
}
#footer_wrapper {
  background-color: $body-bg;
  color:#333;
  #main-footer-tabs {margin-top:18px;}
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}
.unfade {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.unfade:hover {
  opacity: 0.8;
}

#content_wrapper {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

.big-banner {
  width: 100%;
  background-color: transparent;
  background-image: url('/assets/images/themap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 400px;
  z-index: -1;
}

.content-page {
  height: 100%;
  border-top: 8px solid $gray-dark;
  background-color: $body-bg;
}

.uptab {
  visibility: hidden;
  position: relative;
  margin: 0 auto;
  top: -83px;
  height: 80px;
  width: 150px;
  font-size: 3.5em;
  padding: 0 50px 10px 50px;

  &.active {
    visibility: visible;
    opacity: 0.9;
    @include single-transition(opacity, .2s);
    span {
      opacity: 0.6;
    }
    &:hover, &:hover * {
      opacity: 1;
    }
  }
}

.uptab-primary {
  background-color: $gray-dark;
  color: $brand-info;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.side-nav {
  @include border-radius(4px);
  @include box-shadow(0 4px 8px $gray-darker);
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.side-nav-header {
  padding: 5px 8px;
  background-color: $gray;

  h3 {
    color: #FFF;
    @include text-shadow(0 -1px 1px $gray-darker);
    margin-left: 12px;
  }
}

.side-nav-items {
  list-style: none;
  margin-bottom: 0;

  li {
    border-bottom: 2px solid $gray-darker;
    background-color: $gray-dark;
    width: 100%;
    padding: 0;
    margin: 0;

    &:first-child {
      @include box-shadow(inset 0 3px 3px rgba(0, 0, 0, .3));
    }

    a {
      color: $gray-light;
      width: 100%;
      padding: 4px 0 4px 30px;
      letter-spacing: .2em;
      @include header-font;
      display: block;
      &:hover {
        color: $brand-info;
        border-left: 3px solid $brand-info;
      }
    }
  }
}

.paddle {
  background-color: $gray-dark;
  background: -moz-linear-gradient(top,  rgba(63,63,63,1) 1%, rgba(51,51,51,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(63,63,63,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.boat {
  @extend .row;
  @extend .paddle;
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  @include rounded(4px);
  @include box-shadow(0 5px 10px $body-bg, inset 0 1px 1px $gray, inset 0 -1px 1px $gray-darker);
}

@include respond-to(screen-md) {
  .boat {
    padding: 25px;
    margin-top: 60px;
    width: 100%;
  }
}


