@import "validationEngine.jquery";
@import "site/app_mixins";
@import "site/my_account";
@import "site/cart";
@import "site/panel";
@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "./bootstrap_variables";
@import "./bootstrap_and_overrides";
@import "login";

// RoR eCommerce Customer-Facing Styles

@include sticky-footer(54px, "#body_wrapper", "#prefooter_wrapper", "#footer_wrapper");

h2, h3, h4, h5 {
  @include body-font-1();
  color: $brand-info;
}

h3 {
  margin-top: 10px;
}

.clearfix {
  @include clearfix();
}

.flash_messages {
  margin-top: 20px;
}

.field_with_errors {
  input {
    border: 1px #C66 solid;
  }
}

ul {
  list-style: none;
  &.vertical-list {
    display: block;
    li {float: none;}
    label {
      display: inline-block;
      width: 150px;
      &.long {
        width: 250px;
      }
    }
    &.compact {
      label {
        width: 70px;
      }
    }
  }
}
#footer_wrapper {
  background-color: $body-bg;
  color:#333;
  #main-footer-tabs {margin-top:18px;}
}

.inline-list {
  list-style: none;
  display: block;
  padding: 0;

  li {
    display: block;
    text-align: center;
  }
}

.inline-list-right {
  @extend .inline-list;

  li {
    display: inline-block;
  }
}

.footer-list {
  @extend .inline-list;

  li {
    font-size:1.2em;
  }
}

.footer-link {
  .phone-text {
    display: none;
  }
  &.highlight {
    color: $brand-success;
  }
}

.footer-list-right {
  @extend .inline-list-right;
  width: 160px;
  margin: 0 auto;

  li {
    @include body-font-1();
    padding: 5px 20px;
    font-size: 2em;
  }
}

.footer-link {
  @include body-font-1();
  font-size: 1.2em;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}
.unfade {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.unfade:hover {
  opacity: 0.8;
}

#content_wrapper {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
}

.big-banner {
  width: 100%;
  background-color: transparent;
  background-image: url('/assets/images/themap.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  min-height: 400px;
  z-index: -1;
}

.content-page {
  height: 100%;
  border-top: 8px solid $gray-darker;
  background-color: $body-bg;
}

.uptab {
  visibility: hidden;
  position: relative;
  margin: 0 auto;
  top: -83px;
  height: 80px;
  width: 150px;
  font-size: 3.5em;
  padding: 0 50px 10px 50px;

  &.active {
    visibility: visible;
    opacity: 0.9;
    @include single-transition(opacity, .2s);
    span {
      opacity: 0.6;
    }
    &:hover, &:hover * {
      opacity: 1;
    }
  }
}

.uptab-primary {
  background-color: $gray-darker;
  color: $brand-info;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.side-nav {
  @include border-radius(4px);
  @include box-shadow(0 4px 8px $gray-darker);
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

.side-nav-header {
  padding: 5px 8px;
  background-color: $gray;

  h3 {
    color: #FFF;
    @include text-shadow(0 -1px 1px $gray-darker);
    margin-left: 12px;
    font-size: 1.5em;
  }
}

.side-nav-items {
  list-style: none;
  margin-bottom: 0;

  li {
    border-bottom: 2px solid $gray-darker;
    background-color: $gray-dark;
    width: 100%;
    padding: 0;
    margin: 0;

    &:first-child {
      @include box-shadow(inset 0 3px 3px rgba(0, 0, 0, .3));
    }

    &.active a, a:hover {
      color: #FFF;
      border-left: 5px solid $brand-info;
    }

    a {
      @include body-font-2();
      color: $gray-light;
      width: 100%;
      padding: 4px 0 4px 30px;
      letter-spacing: .2em;
      display: block;
    }
  }
}

.paddle {
  background-color: $gray-dark;
  background: -moz-linear-gradient(top,  rgba(63,63,63,1) 1%, rgba(51,51,51,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(63,63,63,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(63,63,63,1) 1%,rgba(51,51,51,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}

.boat {
  @extend .row;
  @extend .paddle;
  height: 100%;
  width: 100%;
  padding: 10px;
  margin-top: 40px;
  @include rounded(4px);
  @include box-shadow(0 5px 10px $body-bg, inset 0 1px 1px $gray, inset 0 -1px 1px $gray-darker);
}

.anchor {
  border-top:60px solid transparent;
  margin-top:-60px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
}

.section {
  border-bottom: 1px solid $gray;
  border-top: 1px solid #000;
  padding: 25px 0 0 0;
  background-color: $body-bg-light;
  margin-bottom: 15px;
  @include border-radius(8px);

  &:first-child {
    //border-top: none;
    margin-top: -50px;
  }

  &:last-child {
    //border-bottom: none;
  }
}

.section-title {
  display: block;
  width: 100%;
  text-align: center;
  color: $brand-warning;
  margin-bottom: 25px;
  @include text-shadow(0 -1px 1px $gray-darker);
}

.champion-image {
  width: 243px;
  margin-left: 50%;
  left: -121px;
  position: relative;
  display: none;
}

.bump {
  border-top: 1px solid $gray;
  border-bottom: 1px solid #000;
  background-color: $gray-darker;
  @include border-radius(8px);
}

.bucket {
  padding: 15px;
  margin-bottom: 10px;
  display: block;
}

.fullbin {
  @extend .row;
  margin: 0px 0 25px 0;
}

.fullbin-bucket {
  @extend .bucket;
}

.fullbin-bucket-header {
  text-align: center;
  font-size: 2em;
  color: $brand-info;
  padding: 25px 0;
}

.fullbin-bucket-body {
  text-align: center;
  font-size: 1.5em;
  color: $gray-light;
  padding: 15px 0;
}

.tribin {
  @extend .fullbin;
}

.tribin-bucket {
  @extend .bump;
  @extend .row;
  @extend .bucket;


  &:hover > * {
    color: #FFF;
  }

}

.tribin-bucket-header {
  color: $brand-info;
  text-align: right;
  font-size: 2.5em;
  @extend .col-xs-3;
  @extend .col-sm-5;
  @extend .col-md-12;
}

.tribin-bucket-body {
  color: $gray-light;
  font-size: 1em;
  @extend .col-xs-9;
  @extend .col-sm-7;
  @extend .col-md-12;

  &.address {
    padding-top: 8px;
  }

  &.phone {
    padding-top: 18px;
  }
}

@include respond-to(screen-sm) {
  .big-banner {
    background-attachment: fixed;
  }

  .side-nav-header h3 {
    font-size: 1.8em;
  }

  .tribin-bucket-header{
    font-size: 3em;
  }

  .tribin-bucket-body {
    font-size: 1.5em;
  }
}

@include respond-to(screen-md) {
  .boat {
    padding: 25px;
    margin-top: 60px;
    width: 100%;
  }

  .champion-image {
    display: block;
  }

  .tribin-bucket {
    height: 200px;
  }

  .tribin-bucket-header, .tribin-bucket-body {
    text-align: center;
  }

  .tribin-bucket-body {
    &.address {
      padding-top: 20px;
    }

    &.phone {
      padding-top: 35px;
    }
  }

  ul.footer-list {
    display: inline-block;
    li {
      padding: 3px 10px;
      border-right: 1px solid $gray-dark;
      display: inline-block;
      font-size: 1.2em;
    }

    li:last-child {
      padding: 3px 0 3px 10px;
      border-right: none;
    }
  }


  .footer-list-right {
    width: auto;
    margin: 0;
    float: right;
    display: inline-block;

    li {
      padding: 3px 10px;
      border-right: 1px solid $gray-dark;
      display: inline-block;
      font-size: 1.2em;
    }

    li:last-child {
      padding: 3px 0 3px 10px;
      border-right: none;
    }
  }

  .footer-link .phone-text {
    display: inline-block;
  }

}

@include respond-to(screen-lg) {

  .fullbin {
    margin-left: 100px;
    margin-right: 100px;
  }
}


