<div class='col-md-8 col-sm-6'>
  <h3> <%= current_user.name %> Store Credits </h3>

  <p id='users-credits' class=''>
      You currently have <%= number_to_currency @store_credit.amount %> worth of credits.
  </p>
</div>
